
#header {
  text-align: center;
  background-color: white;
  vertical-align: center;
}

#logo {
  font-size: 100px;
  color: #ff6699;
  font-family: 'Dancing Script', cursive;
  text-transform: lowercase;
  margin: 0px;
  vertical-align: center;
  padding: 50px;
}

#logo a {
  text-decoration: none;
  color: inherit;
}
#main {
  display: flex;
  justify-content: center;
}

#menu {
  flex-wrap: wrap;
  order: 0;
  width: 10%;
  padding: 10px 20px;
}

#menu-items li a, #menu-items td a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
#menu-items td a {
  color: white;
}
#content, #full-content {
  text-align: justify;
  order: 1;
  padding: 10px 20px;
}

#content {
  width: 60%;
  height: 100%;
}

#full-content {
  width: 100%;
  padding: 0px;
  background: url("cooking-05.jpg") no-repeat center center fixed;
  background-size: cover;
}

.subheaders {
  font-size: 28px;
  color: #595959;
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  margin: 5px;
  letter-spacing: 0.1em;
}

#menu-items li {
  font-size: 15px;
  color: #595959;
  font-family: 'Arima Madurai', cursive;
  padding: 2px;
  list-style: none;

}

#menu-items td {
  font-size: 20px;
  color: #595959;
  font-family: 'Arima Madurai', cursive;
  padding: 2px;
  list-style: none;
  text-align: center;
}
#menu-items {
  padding: 0px 15px;
}

.food-header {
  width: 100%;
}

.food-category-image {
 width: 70%;
 height: auto;
 border-radius: 50%;
 margin: 0px;
}

#food-categories td {
  text-align: center;
  margin: 0px;
}

#home-menu {
  margin: 70px 0px;
  padding: 5px;
  background-color: rgba(0,0,0,0.65);
  border-radius: 30px;
}

.image-header {
  height: 500px;
  width: auto;
}

.page-headers {
  text-align: center;
  font-size: 70px;
  letter-spacing: 0.2em;
}

#currentPage {
  font-weight: bold;
  border-bottom: 1px solid #ff6699;
}

body {
  margin: 0px;
  padding: 0px;
}

.food-category-image:hover {
  opacity: 0.7;
}
